body, table {
	font-family: verdana, sans-serif;
	font-size: 12px;
	color: #333;
}
td, th, .cell {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
}
td, th {
	margin: 0;
	padding-left: 7px;
	padding-right: 7px;
}
table {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	display: inline-block;
	vertical-align: top;
}
#container {
	white-space: nowrap;
}
.gantt {
	display: inline-block;
	border-top: 1px solid #ddd;
	vertical-align: top;
	overflow-x: scroll;
	white-space: nowrap;
	width: 1000px;
}
.dates {
	font-weight: bold;
}
.cell {
	width: 24px;
	display: inline-block;
	text-align: center;
	position: relative;
}
.el {
	background: blue;
	position: absolute;
	z-index: 10;
}
.el.critical {
	background: red;
}
#container .row, #container tr {
	MozUserSelect: none;
	cursor: pointer;
}



/* Editor elements */
#editform {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
#editform .form {
	margin: 80px auto;
	background: white;
	width: 300px;
	padding: 10px;
}